body{
	font-family: Raleway;
	font-size: 16px;
}

.sides a{
	margin: 35px;
    display: block;
    text-decoration: none;
    color: white;
}

.sidebar{
   width:230px;
}


.buttons button {
    background-color: #4c9689;
    border: none; 
    border-radius: 5px;
    color: white; 
    padding: 10px 24px; 
    margin: 20px 20px 20px 0px;
    cursor: pointer;
    float: left; 
}

.buttons:after {
    content: "";
    clear: both;
    display: block;
}

.buttons button:not(:last-child) {
    border-right: none;
}

.buttons button:hover {
    background-color: #35b18a;
}

.one {
	float:left;
	width:25%;
	overflow:hidden;
}

.one img {
	border-radius: 5%;
	width:75%;
}

.two {
    float:left;
	width:75%;
	margin-bottom: 120px;
	overflow:hidden;
}

.info li{
	margin-left: -20px;
	margin-bottom: 20px;
}

.received a{
	color: #3480bb;
	text-decoration: none;
	margin: 0px 10px;
}

.received img {
	width: 5%;
	border-radius: 5%;
}

.received {
	list-style: none;
	margin-left: -20px;
}

.sides2 a {
	margin: 25px 35px 0px 35px;
    display: block;
    text-decoration: none;
    color: black;
    font-size: 24px;
}

.info2 li{
	margin-bottom: 20px;
	margin-left: 10px;
}

.received2 a{
	color: #3480bb;
	text-decoration: none;
	margin: 5px 5px;
	font-size: 16px;
}

.received2 img {
	width: 20%;
	border-radius: 5%;
	margin-left: 10px;
}

.received2 b{
	padding: 20px; 
	font-size: 18px;
}

.received2 {
	list-style: none;
	margin-left: -20px;
}